@font-face {
  font-family: 'FairfaxHD';
  src: url('/starglowwos/assets/fonts/FairfaxHD.ttf');
}

* {
  box-sizing: border-box;
}

.main {
  color: white;
  min-height: 99.8vh;
  padding: 1px;
  font-family: 'FairfaxHD';
  max-width: 95%;
  margin: 0 auto;
}

body {
  background-color: #190830;
  margin: 0px 10vw;
  font-size: 20px;
  color: white;
}

.center {
  text-align: center;
}

button {
  background-color: #0c0219;
  box-shadow: #FFF1 0px 0px 5px;
  padding: 0.75em;
  border-style: none;
  border-radius: 0.5em;
  color: white;
  font-family: 'FairfaxHD';
}

button:hover {
  background-color: #110323;
}

button.float {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-align: center;
  width: 8em;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.75em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.25em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #ff9;
}

a:visited {
  color: #fA7;
}

a:hover, a:active {
  color: #fC7;
  cursor: pointer;
}

div.profiles-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.profile {
  background-color: #0c0219;
  border-radius: 8px;
  padding: 8px;
  width: 216px;
  margin: 8px;
}

.profile img {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 8px;
}

.name {
  text-align: center;
  font-size: 1.25em;
}

.pronouns {
  text-align: center;
  font-size: 1em;
}

.art-credit {
  text-align: center;
  font-size: 0.5em;
}

.profile p {
  margin: 5px 0;
}