@font-face {
  font-family: 'FairfaxHD';
  src: url('FairfaxHD.ttf');
}

* {
  box-sizing: border-box;
}

.main {
  color: white;
  min-height: 99.8vh;
  padding: 1px;
  font-family: 'FairfaxHD';
  max-width: 1020px;
  margin: 0 auto;
}

body {
  background-color: #050505;
  margin: 0px 10vw;
  font-size: 20px;
}

.center {
  text-align: center;
}

.button {
  background-color: black;
  box-shadow: #FFF1 0px 0px 5px;
  padding: 1em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
}

a:link {
  color: #ff9;
}

a:visited {
  color: #fA7;
}

a:hover, a:active {
  color: #fC7;
  cursor: pointer;
}

div.profile {
  float: left;
  background-color: black;
  width: 45%;
  margin: 2.5%;
  padding: 1em;
  border-radius: 2.5%
}

@media only screen and (max-width: 600px) {
  div.profile {
    width: 100%;
  }
}

div.profile > img {
  width: 100%;
  border-radius: 2.5%;
}

.art-credit {
  font-size: 0.5em;
  color: #fff5;
  margin: 0.5em;
  padding: 0;
}

.art-credit > a:link {
  color: #ff95;
}

.art-credit > a:visited {
  color: #fA75;
}

.art-credit > a:hover, a:active {
  color: #fC75;
  cursor: pointer;
}

.pronouns {
  margin: 0.5em;
}

.name {
  margin: 0.25em;
}