@font-face {
  font-family: 'FairfaxHD';
  src: url('FairfaxHD.ttf');
}

* {
  box-sizing: border-box;
}

.main {
  color: white;
  min-height: 99.8vh;
  padding: 1px;
  font-family: 'FairfaxHD';
  max-width: 1020px;
  margin: 0 auto;
}

body {
  background-color: #050505;
  margin: 0px 10vw;
  font-size: 20px;
}

.center {
  text-align: center;
}

button {
  background-color: black;
  box-shadow: #FFF1 0px 0px 5px;
  padding: 0.75em;
  border-style: none;
  border-radius: 0.5em;
  color: white;
  font-family: 'FairfaxHD';
}

button:hover {
  background-color: #0F0F0F;
}

button.center {
  margin: 1em 50%;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #ff9;
}

a:visited {
  color: #fA7;
}

a:hover, a:active {
  color: #fC7;
  cursor: pointer;
}

div.profile-small {
  float: left;
  background-color: black;
  width: 20%;
  margin: 2.5%;
  padding: 1em;
  border-radius: 2.5%;
}

.profile-small > .name {
  font-size: 1.5em;
}

.profile-small > .pronouns {
  font-size: 0.6em;
}

.profile-small > .art-credit {
  font-size: 0.5em;
}

.profile-small > .name > .txt-tp,
.profile-small > .name > a > .txt-tp {
  font-size: 0.53972em;
}
.profile-small > .name > .txt-sp,
.profile-small > .name > a > .txt-sp {
  font-size: 3em;
}
.profile > .name > .txt-sp,
.profile > .name > a > .txt-sp {
  font-size: 0.86018em;
}
.profile-small > .name > .txt-sp,
.profile-small > .name > a > .txt-sp {
  font-size: 0.47972em;
}

.profile-small > .pronouns > .txt-tp,
.profile-small > .pronouns > a > .txt-tp {
  font-size: 0.9em;
}
.profile-small > .pronouns > .txt-sp,
.profile-small > .pronouns > a > .txt-sp {
  font-size: 0.67em;
}

@media only screen and (max-width: 1285px) {
  div.profile-small {
    width: 28%;
  }

  .profile-small > .name > .txt-tp,
  .profile-small > .name > a > .txt-tp {
    font-size: 0.70527em;
  }

  .profile-small > .name > .txt-sp,
  .profile-small > .name > a > .txt-sp {
    font-size: 0.61416em;
  }

  .profile-small > .pronouns > .txt-sp,
  .profile-small > .pronouns > a > .txt-sp {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1115px) {

  .profile-small > .name > .txt-tp,
  .profile-small > .name > a > .txt-tp {
    font-size: 0.56527em;
  }

  .profile-small > .name > .txt-sp,
  .profile-small > .name > a > .txt-sp {
    font-size: 0.49305em;
  }

  .profile-small > .pronouns > .txt-sp,
  .profile-small > .pronouns > a > .txt-sp {
    font-size: 0.69em;
  }
}

@media only screen and (max-width: 950px) {
  div.profile-small {
    width: 45%;
  }

  .profile-small > .name > .txt-tp,
  .profile-small > .name > a > .txt-tp {
    font-size: 0.80416em;
  }

  .profile-small > .name > .txt-sp,
  .profile-small > .name > a > .txt-sp {
    font-size: 0.69972em;
  }

  .profile-small > .pronouns > .txt-sp,
  .profile-small > .pronouns > a > .txt-sp {
    font-size: 0.95em;
  }
}

@media only screen and (max-width: 775px) {
  .profile-small > .name > .txt-tp,
  .profile-small > .name > a > .txt-tp {
    font-size: 0.56527em;
  }

  .profile-small > .name > .txt-sp,
  .profile-small > .name > a > .txt-sp {
    font-size: 0.49305em;
  }

  .profile-small > .pronouns > .txt-sp,
  .profile-small > .pronouns > a > .txt-sp {
    font-size: 0.69em;
  }
}

@media only screen and (max-width: 600px) {
  div.profile-small {
    width: 100%;
  }

  .profile-small > .name > .txt-tp,
  .profile-small > .name > a > .txt-tp {
    font-size: 0.9em;
  }

  .profile-small > .name > .txt-sp,
  .profile-small > .name > a > .txt-sp {
    font-size: 0.83361em;
  }

  .profile-small > .pronouns > .txt-sp,
  .profile-small > .pronouns > a > .txt-sp {
    font-size: 1em;
  }
}

@media only screen and (max-width: 400px) {
  .profile-small > .name > .txt-tp,
  .profile-small > .name > a > .txt-tp {
    font-size: 0.57972em;
  }

  .profile-small > .name > .txt-sp,
  .profile-small > .name > a > .txt-sp {
    font-size: 0.49749em;
  }

  .profile-small > .pronouns > .txt-sp,
  .profile-small > .pronouns > a > .txt-sp {
    font-size: 0.69em;
  }
}



div.profile {
  float: left;
  background-color: black;
  width: 45%;
  margin: 2.5%;
  padding: 1em;
  border-radius: 2.5%;
}

@media only screen and (max-width: 600px) {
  div.profile {
    width: 100%;
  }
}

div.profile > img, div.profile-small > img {
  width: 100%;
  border-radius: 2.5%;
}

.art-credit {
  font-size: 0.5em;
  color: #fff5;
  margin: 0.5em;
  padding: 0;
}

.art-credit > a:link {
  color: #ff95;
}

.art-credit > a:visited {
  color: #fA75;
}

.art-credit > a:hover, a:active {
  color: #fC75;
  cursor: pointer;
}

.pronouns {
  margin: 0.5em;
  white-space: nowrap;
  font-size: 100%;
}

@media only screen and (max-width: 600px) {
  .pronouns {
    font-size: 1em;
  }
}

.name {
  margin: 0.25em;
}

.break {
  word-break: break-all
}